<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>12842900871-og922bvvfgvt6mscqg4f3q4fb9b97l90.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.12842900871-og922bvvfgvt6mscqg4f3q4fb9b97l90</string>
	<key>API_KEY</key>
	<string>AIzaSyCKfDQhL9GKBNq7SzDm3t75u-tA4nl4J1g</string>
	<key>GCM_SENDER_ID</key>
	<string>12842900871</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterpush</string>
	<key>PROJECT_ID</key>
	<string>flutternotification-25b68</string>
	<key>STORAGE_BUCKET</key>
	<string>flutternotification-25b68.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:12842900871:ios:0802d17738b75d9ed28722</string>
</dict>
</plist>